/* Large desktop */
@media (max-width: 14200px) {
  .movie-index-item {
    width: 20%;
    padding: 10px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  .movie-index-item {
    width: 25%;
    padding: 10px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 700px) {
  .movie-index-item {
    width: 40%;
    padding: 10px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .movie-index-item {
    width: 70%;
    padding: 10px 20px;
  }
}

.movie-img:hover {
  box-shadow: 0 0 0 2px #cc7b19;
}

.movie-index-item:hover {
  cursor: pointer;
}

.movie-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}
