@import './stylesheets/reset';
@import './stylesheets/colors';
@import './stylesheets/movie_index';
@import './stylesheets/movie_index_item';
@import './stylesheets/movie_details';
@import './stylesheets/searchbar';
@import './stylesheets/navbar';

body {
  background-color: rgba(0,0,0,0.9);
  font-family: Lato, sans-serif;
}

// .main-container {
//   background-image: linear-gradient(rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%);
//   background-attachment: fixed;
//   margin: 0;
// }

li {
  list-style: none
}
