body, a, div, p, h1, h2, h3, h4, input, li, ul {
  padding: 0;
  margin: 0; }

.main-container {
  height: 100vh; }

.movie-index-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 30px; }

.list-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px 0 0 0; }
  .list-nav-container button {
    height: auto;
    width: auto;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.65);
    outline: none; }
    .list-nav-container button:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.9); }
  .list-nav-container p {
    color: rgba(255, 255, 255, 0.65);
    padding: 0 20px; }

.list-nav-container:first-of-type {
  padding: 20px 0 10px 0; }

.movie-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

/* Large desktop */
@media (max-width: 14200px) {
  .movie-index-item {
    width: 20%;
    padding: 10px; } }

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  .movie-index-item {
    width: 25%;
    padding: 10px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 700px) {
  .movie-index-item {
    width: 40%;
    padding: 10px; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .movie-index-item {
    width: 70%;
    padding: 10px 20px; } }

.movie-img:hover {
  box-shadow: 0 0 0 3px #cc7b19; }

.movie-index-item:hover {
  cursor: pointer; }

.movie-img {
  width: 100%;
  height: 100%;
  object-fit: fill; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

.movie-details-container {
  background: no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.movie-details-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.3) 50%, #000 100%);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.movie-details {
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  .movie-details .detail-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: white; }
    .movie-details .detail-content h2 {
      font-size: 2em;
      margin-bottom: 8px; }
    .movie-details .detail-content h3 {
      font-size: 1.6em;
      font-family: Oswald, sans-serif;
      color: #cc7b19;
      margin-bottom: 8px; }
    .movie-details .detail-content p {
      margin-bottom: 30px; }
    .movie-details .detail-content .content-details {
      display: flex;
      flex-wrap: wrap; }
      .movie-details .detail-content .content-details .content-section {
        display: flex;
        flex-direction: column;
        font-family: Oswald, sans-serif;
        width: 100px;
        margin-right: 70px;
        margin-bottom: 10px; }
        .movie-details .detail-content .content-details .content-section h2 {
          font-size: 1.4em;
          color: #cc7b19; }
          .movie-details .detail-content .content-details .content-section h2 a {
            color: inherit;
            text-decoration: none; }
            .movie-details .detail-content .content-details .content-section h2 a:hover {
              text-decoration: underline;
              cursor: pointer; }
        .movie-details .detail-content .content-details .content-section h4 {
          color: white;
          font-size: 1.2em; }

@media (min-width: 1200px) {
  .movie-poster {
    width: 350px; }
  .movie-details {
    width: 1100px; } }

@media (max-width: 1200px) {
  .movie-poster {
    width: 350px; } }

@media (max-width: 1000px) {
  .movie-poster {
    width: 310px; } }

@media (max-width: 900px) {
  .movie-details {
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px; }
  .movie-poster {
    width: 80vw;
    max-width: 400px; }
  .main-container {
    height: fit-content; } }

.search-bar {
  display: flex;
  align-items: center;
  height: 6vh;
  margin-right: 50px; }
  .search-bar input {
    width: 35vw;
    padding: 10px 8px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px; }

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background-color: #cc7b19;
  width: 100%;
  position: absolute; }
  .navbar .btn-container {
    margin-left: 40px;
    display: flex;
    height: 7vh;
    flex-direction: row; }
  .navbar .btn-menu {
    display: none; }
  .navbar .btn-primary {
    background-color: #cc7b19;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    padding: 0 20px;
    text-align: center;
    line-height: 320%; }
  .navbar .btn-primary:hover {
    background-color: #a96615;
    color: white; }

.menu-list a {
  width: 100%;
  font-size: 1.2em;
  text-decoration: none;
  color: #cc7b19;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
  .menu-list a:hover {
    background-color: #a96615;
    color: white; }

@media (max-width: 850px) {
  .navbar {
    height: 7vh;
    display: flex;
    justify-content: space-between; }
    .navbar .search-bar {
      margin: 0;
      padding: 0;
      padding-right: 50px; }
      .navbar .search-bar input {
        width: 55vw; }
    .navbar .btn-container {
      display: none; }
    .navbar .btn-menu {
      display: flex;
      width: auto;
      height: auto;
      margin-right: 10px;
      outline: none; }
      .navbar .btn-menu button {
        cursor: pointer;
        height: 7vh;
        width: 60px;
        border: none;
        background-color: transparent;
        color: white;
        outline: none; }
        .navbar .btn-menu button:focus, .navbar .btn-menu button:hover {
          background-color: #a96615; }
      .navbar .btn-menu .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 7vh;
        left: 0;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100vw; } }

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #090707; }

.dank-ass-loader {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .dank-ass-loader .row {
    display: flex; }

.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #fd7000;
  animation: blink 1s infinite;
  filter: drop-shadow(0 0 18px #fd7000); }
  .arrow.down {
    transform: rotate(180deg); }
  .arrow.outer-1 {
    animation-delay: -0.05556s; }
  .arrow.outer-2 {
    animation-delay: -0.11111s; }
  .arrow.outer-3 {
    animation-delay: -0.16667s; }
  .arrow.outer-4 {
    animation-delay: -0.22222s; }
  .arrow.outer-5 {
    animation-delay: -0.27778s; }
  .arrow.outer-6 {
    animation-delay: -0.33333s; }
  .arrow.outer-7 {
    animation-delay: -0.38889s; }
  .arrow.outer-8 {
    animation-delay: -0.44444s; }
  .arrow.outer-9 {
    animation-delay: -0.5s; }
  .arrow.outer-10 {
    animation-delay: -0.55556s; }
  .arrow.outer-11 {
    animation-delay: -0.61111s; }
  .arrow.outer-12 {
    animation-delay: -0.66667s; }
  .arrow.outer-13 {
    animation-delay: -0.72222s; }
  .arrow.outer-14 {
    animation-delay: -0.77778s; }
  .arrow.outer-15 {
    animation-delay: -0.83333s; }
  .arrow.outer-16 {
    animation-delay: -0.88889s; }
  .arrow.outer-17 {
    animation-delay: -0.94444s; }
  .arrow.outer-18 {
    animation-delay: -1s; }
  .arrow.inner-1 {
    animation-delay: -0.16667s; }
  .arrow.inner-2 {
    animation-delay: -0.33333s; }
  .arrow.inner-3 {
    animation-delay: -0.5s; }
  .arrow.inner-4 {
    animation-delay: -0.66667s; }
  .arrow.inner-5 {
    animation-delay: -0.83333s; }
  .arrow.inner-6 {
    animation-delay: -1s; }

@keyframes blink {
  0% {
    opacity: 0.1; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }

body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: Lato, sans-serif; }

li {
  list-style: none; }
